@import url('https://fonts.googleapis.com/css?family=EB+Garamond|Roboto');

body, html {
    height: 100%;

}



*, ::after, ::before {
    box-sizing: border-box;
}

body{
    padding-top: 4rem;

}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 10px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
    background-color: #e2e2db;
   }

nav{
    background-color: white;
}
/*main{*/
/*display: -ms-flex; display: -webkit-flex; display: flex;*/
/*}*/

.avatar-img{
    max-width: 70%;
    height: auto;
    width: auto\9; /* ie8 */
    margin-left: 65px;
    margin-top: -10px;
}

.page-content{
    position: relative;
    min-height: 100vh;

}
.page-background{

    /*background-image: url('../images/background.jpg');*/
    /*background-repeat: no-repeat;*/
    /*background-attachment: scroll;*/
    /*!*min-height: calc(100vh - 150px);*!*/

    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*background-size: cover;*/
    /*background-repeat: no-repeat;*/
   /* background: url('../images/background.jpeg') no-repeat center center fixed; */
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


}

h7 {
    font-size: 26px !important;
    font-weight: bold;
    margin: 50px 0 30px 0;
}

.titleHr {
    border: 3px solid #23477C;
    width: 80px;
    margin: 0 0 20px 0;
}

table {
    font-family: 'Roboto', sans-serif;
}

.surveyOptionBtn {

    border-radius: 0px;
    width: 130px;
    height: 120px;
    margin-right: 20px;

}

.surveyOptionBtn:hover{
    background-color: #a4a4a4;

}

h3 {
    font-weight:bold;
    margin-bottom: 10px;
    margin-top: 10px;
}